{{ form_start(form) }}
<fieldset>
    <legend>Les infos de votre Catégorie de Gâteaux</legend>

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.active) }}
        {{ form_widget(form.active) }}
        {{ form_errors(form.active) }}
    </div>
</fieldset>

<button type="submit" class="btn">
    {{ button_label ?? 'Ajouter' }}
</button>
{{ form_end(form) }}
