{% extends 'base.html.twig' %}

{% block title %}Tous les Gâteaux{% endblock %}

{% block body %}
    <h1>Les Gâteaux</h1>

    <div class="grid">
        {% for cake in cakes %}
            <div class="grid-item">
                <div class="body">
                    <a href="{{ path('app_cake_view', {'slug': cake.slug}) }}">
                        <img src="{{ asset('uploads/cake/' ~ cake.image) }}" alt="{{ cake.name }}"/>
                        <h2>{{ cake.name }}</h2>
                    </a>
                </div>
                <footer>
                    <a href="{{ path('app_cake_view', {'slug': cake.slug}) }}" class="btn">détails</a>
                    <a href="{{ path('app_cake_edit', {'slug': cake.slug}) }}" class="info btn">modifier</a>
                    <a href="#" class="danger btn">supprimer</a>
                </footer>
            </div>
        {% endfor %}

        <div class="grid-item">
            <div class="body">
                <a href="{{ path('app_cake_add') }}" class="success">
                    {{ ux_icon('icons8:plus', {'class': 'icon success'}) }}
                </a>
            </div>
            <footer>
                <a href="{{ path('app_cake_add') }}" class="success btn">nouveau</a>
            </footer>
        </div>
    </div>
{% endblock %}
