{% extends 'base.html.twig' %}

{% block title %}{{ cake_category.name }}{% endblock %}

{% block body %}
    <a href="{{ path('app_cakecategory_default_index') }}">
        {{ ux_icon('icon-park-outline:back', {'class': 'icon'}) }}
        Retour aux catégories
    </a>
    <hr/>

    <h1>{{ cake_category.name }}</h1>

    <h2>
        {{ cake_category.cakes | length }}
        Gâteau{{ cake_category.cakes | length > 1 ? 'x' : '' }}
        dans cette Catégorie
    </h2>

    <div class="grid">
        {% include 'cake/partials/_grid.html.twig' with {'cakes': cake_category.cakes} %}
    </div>
{% endblock %}
